* {
    box-sizing: border-box;
}

body {
    display:flex;
    align-content:center;
    justify-content:center;
    height:100vh;
    width:100vw;
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f4f4f4;
   
    background-image: url('../public/blobs1.svg'), url('../public/blobs0.svg');
    background-repeat: no-repeat;
    background-position: 1200px -90px,left -8em top 32em;
    background-size: 315px, 320px;
}

.App{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100%;
    width: 100%;
    text-align: center;
    padding: 2em;
    color: black;
    
}
.App-section-1{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100%;
    width: 100%;
    margin-top: 52px;
    text-align: center;
    padding: 2em;
    color: black;
}
.app-title{
    font-size: 2.5em;
    margin-bottom: 0.5em;
}
.app-text{
    font-size: 1.2em;
    margin-bottom: 1.5em;
}
.btn-title{
    padding: .9em 2.7em;
    font-size: 1.5em;
    background-color: #4D5B9E;
    color: white;
    border-radius: 0.5em;
}

.questions{
color: #293264;
  text-align: left;
  font-family: "Karla-Bold", sans-serif;
  font-size: 16px;
  font-weight: 700;
  position: relative;
}
 .answers{
  color: #293264;
  text-align: center;
  font-family: "Inter-Medium", sans-serif;
  font-size: 10.239999771118164px;
  font-weight: 500;
  font-style: none;
  left: 8px;
  top: 3.6px;
  width: 104px;
  height: 13px;
  background: #d6dbf5;
  border-radius: 7.71px;
  width: 120.06px;
  height: 20.05px;
  position: absolute;
  left: 0px;
  top: 0px;
  position: relative;
  margin-right: 800px;
  padding-right: 2px;
}